body {
    font-size: 1.1rem;
}

p {
    font-weight: normal;
}

footer ul li .fab {
    font-size: 1.2rem;
}

ul {
    text-align: left;
}

.footer p {
    font-size: 0.8571em;
    margin-bottom: 0;
}

.page-header.page-header-small {
    min-height: 80vh;
}

/* COMMON */
.relative {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay--secondary {
    background-color: rgba(64, 8, 13, 0.7);
}

.overlay--tertiary {
    background-color: rgba(101, 101, 72, 0.7);
}

.opaque {
    object-fit: cover;
    opacity: 0.1;
}

.page-header:before {
    background-color: transparent
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.section {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7)
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.chart {
    max-width: 100%;
}

/** SPECIFIC CSS */

.logo--content {
    height: auto;
    width: 280px;
    object-fit: contain;
}

/* .contact-section {
    background: url("../assets/images/background/backdrop_contact.jpg") no-repeat fixed center;
    background-size: cover;
} */

.landing {

}

.page-header--main {
    background: url("../assets/images/background/singapore3.jpg") no-repeat center;
    background-size: cover;
}

.page-header--myanmar {
    background: url("../assets/images/background/bagan.jpg") no-repeat fixed center;
    background-size: cover;
}

.page-header--indonesia {
    background: url("../assets/images/background/background_indonesia.jpg") no-repeat fixed center;
    background-size: cover;
}

.page-header--vietnam {
    background: url("../assets/images/background/background_vietnam.jpg") no-repeat fixed center;
    background-size: cover;
}

.about-us {
    padding-top: 60px;
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
}

.nav-logo {
    height: 72px;
    width: auto;
    cursor: pointer;
}

/* Background Colors */
.bg-cyan {
    background-color: #3A8F99;
}

.bg-cyan-trans {
    background-color: rgba(65, 183, 196, 0.4);
}

.bg-darkcyan {
    background-color: rgba(58, 143, 153, 0.85)
}

.bg-lightcyan {
    background-color: #EAF4F6;
}

.bg-white {
    background-color: white !important;
}

.bg-black {
    background-color: black;
}

.bg-lightyellow {
    background-color: #EEF6E5;
}

.flex-1 {
    flex: 1;
}

.bg-dark {
    background-color: #2E2D2D;
}

.bg-secondary {
    background-color: rgba(165, 25, 36) !important;
}

.border--secondary {
    border-color : rgba(165, 25, 36) !important;
}

.bg-tertiary {
    background-color: rgba(180, 181, 85)
}

.bg-half {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.bg-cyan {
    background-color: #D1E2E6
}

.bg-yellow-trans {
    background-color: rgba(220, 230, 207, 0.71)
}

.bg-gray {
    background-color: #EEEFEE;
}

.bg-mobile {
    background-color: transparent;
}

/* Text colors */
.text-darkblue {
    color: #00305B;
}

.text-darkgreen {
    color: #078fa6
}

.text-black {
    color: black;
}

.text-blue {
    color: #377DBD;
}

.text-red {
    color: #D71143;
}

.text-underline {
    border-bottom: 1px solid #377DBD;
}

/* MYANMAR */

.stats__text {
    max-width: 500px;
}

.contact-message,
input.form-control {
    border-radius: 8px !important;
    border: 1px solid lightgray !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.contact-wrapper {
    max-width: 600px;
}

.footer__form {
    padding: 40px 0;
}

/* Contact Item */
.contact {
    position: relative;
    width: 100%;
}

.contact-image {
    min-height: 450px;
    min-width: 300px;
    width: 100%;
    object-fit: cover;
}

/* NEW CSS */

.landing {
    margin-top: 92px;
}

.landing-content {
    padding: 50px 20px;
}

.landing-container {
    height: 640px !important;
    background-color: rgba(42, 160, 202, 0.39);
}

.landing-container--red {
    background-color: rgba(139, 0, 0, 0.47);
}

.landing-container--green {
    background-color: rgba(93, 143, 24, 0.51);
}

.landing-container__home {
    max-width: 400px;
    width: 100%;
    text-align: left;
}

.max-content {
    width: max-content;
}

.team-side {
    width: 200px;
    min-width: 200px;
}

.team-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-placeholder {
    border: 3px solid gray;
}

.list-item {
    min-width: 250px;
    width: 100%;
}

.list-item-l {
    min-width: 300px;
    width: 100%;
}

.list-item-image {
    width: 90px;
    height: 90px;
}

.list-item-image-l {
    width: 144px;
    height: 144px;
}

.bg-overlay {
    background-color: rgba(47, 71, 12, 0.7);
}

.bg-overlay--light {
    background-color: rgba(220, 230, 207, 0.7);
}

.full-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.bar {
    width: 36px;
    margin: auto;
    height: 4px;
    border-radius: 2px;
}

.carousel-control {
    font-size: 2em;
    font-weight: bold;
    color: #D71143;
}

.carousel-control:hover {
    color: #9c0b30 !important;
}

.carousel-indicator {
    background-color: gray !important;
}

.carousel-indicator.active {
    background-color: #D71143 !important;
}

.carousel-item {
    min-height: 640px;
}

.h-list {
    font-size: 1.1em;
}

.img-partner {
    min-width: 300px;
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.google-map {
    height: 300px;
}

.contact-side__image {
    width: 225px;
    height: 80px;
}

.contact-section {
    background: url("../assets/images/background/backdrop_contact.jpg") no-repeat fixed center;
    background-size: cover;
}

.core-value-section {
    background: linear-gradient(
            rgba(58, 143, 153, 0.85),
            rgba(58, 143, 153, 0.85)
        ),
        url("../assets/images/background/singapore3.jpg") no-repeat fixed center;
}

.mw-300 {
    min-width: 300px;
}

.mw-250 {
    min-width: 250px;
}

.mw-200 {
    min-width: 200px;
}

/* Override default CSS */
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 0.812em;
}

.page-header .content-center {
    max-width: 960px;
}

.dropdown-menu .dropdown-item, .bootstrap-select .dropdown-menu.inner li a {
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .landing__title {
        font-size: 2.5rem;
    }

    .page-header.page-header-small {
        min-height: 80vh;
    }

    .landing {
        margin-top: 80px;
    }

    .section {
        padding-right: 20px;
        padding-left: 20px;
    }

    .contact {
        flex-wrap: wrap;
    }

    .bg-half {
        width: 100%;
    }

    .bg-mobile {
        background-color: initial;
    }
}

@media screen and (max-width: 991px) {

    .logo-button.button-dropdown {
        display: block;
    }

    .sidebar-collapse .navbar .navbar-translate {
        width: auto;
        flex: 1
    }
}

