body {
    font-size: 1.1rem;
}

p {
    font-weight: normal;
}

footer ul li .fab {
    font-size: 1.2rem;
}

.page-header.page-header-small {
    min-height: 80vh;
}

/* COMMON */
.relative {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.opaque {
    object-fit: cover;
    opacity: 0.1;
}

.page-header:before {
    background-color: transparent
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.section {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7)
}


.white-bg {
    background-color: #fff;
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.chart {
    max-width: 100%;
}

.backdrop--home {
    top: -600px;
    height: 160%;
}

.backdrop--myanmar {
    top: -500px;
    height: 200%;
}

.white-text {
    color: rgba(0, 0, 0, 0.7);
}

/** SPECIFIC CSS */

.logo--content {
    height: 400px;
    width: auto;
}

.page-header--main {
    background-position: top center !important;
}

.about-us {
    padding-top: 100px;
}

.nav-logo {
    height: 30px;
    width: auto;
}

.about-us__content {
    max-width: 400px;
}

.vm__content {
    padding: 100px 0;
    max-width: 500px;
}

.vision-mission {
    padding-top: 0;
}

.bg-cyan {
    background-color: rgba(6, 118, 137, 0.9);
}

.flex-1 {
    flex: 1;
}

.core-values {
    padding: 100px 0;
}

.core-values__text {
    flex: 1;
    padding: 0 30px;
    text-align: justify;
}

/* MYANMAR */
.landing__title--myanmar {
    padding: 0 40px;
}

.solution {
    margin-top: -7px;
    background-color: rgba(0,0,0,0.05)
}

.solution__item__image {
    width: 80px;
    height: 80px;
}

.solution__item {
    min-width: 160px;
}

.card-img-top--icon {
    padding: 50px 50px 0;
}

.card:hover {
    transform: translateY(-8px);
    transition: 100ms ease-in-out;
}

.stats__text {
    max-width: 500px;
}

.contact-message {
    border-radius: 30px !important;
}

.contact-wrapper {
    max-width: 600px;
}

.footer__form {
    padding: 40px 0;
}

@media only screen and (max-width: 600px) {
    .landing__title {
        font-size: 2.5rem;
    }

    .section {
        padding-right: 20px;
        padding-left: 20px;
    }
}

