body {
    font-size: 1.1rem;
}

p {
    font-weight: normal;
}

footer ul li .fab {
    font-size: 1.2rem;
}

ul {
    text-align: left;
}

.footer p {
    font-size: 0.8571em;
    margin-bottom: 0;
}

.page-header.page-header-small {
    min-height: 80vh;
}

/* COMMON */
.relative {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay--secondary {
    background-color: rgba(64, 8, 13, 0.7);
}

.overlay--tertiary {
    background-color: rgba(101, 101, 72, 0.7);
}

.opaque {
    object-fit: cover;
    opacity: 0.1;
}

.page-header:before {
    background-color: transparent
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.section {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7)
}


.white-bg {
    background-color: #fff;
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.chart {
    max-width: 100%;
}

.backdrop--home {
    top: -600px;
    height: 160%;
}

.backdrop--myanmar {
    top: -500px;
    height: 200%;
}

.white-text {
    color: rgba(0, 0, 0, 0.7);
}

/** SPECIFIC CSS */

.logo--content {
    height: 280px;
    width: auto;
    object-fit: contain;
}
/*
.page-header--main {
    background-position: top center !important;
} */

.about-us {
    padding-top: 60px;
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
}

.nav-logo {
    height: 72px;
    width: auto;
    cursor: pointer;
}

.about-us__content {
    max-width: 400px;
}

.vm__content {
    padding: 20px 0;
}

.vision-mission {
    padding-top: 0;
}

.bg-cyan {
    background-color: #3A8F99;
}

.bg-lightcyan {
    background-color: #EAF4F6;
}

.bg-white {
    background-color: white !important;
}



.flex-1 {
    flex: 1;
}

.core-values {
    padding: 100px 0;
}

.core-values__text {
    flex: 1;
    padding: 0 30px;
}

/* MYANMAR */
.landing__title--myanmar {
    padding: 0 40px;
}

.solution {
    margin-top: -6px;
    background-color: rgba(0,0,0,0.05)
}

.solution__item__image {
    width: 80px;
    height: 80px;
}

.solution__item {
    min-width: 160px;
}

.solution__item__subtext {
    max-width: 220px;
    text-align: center;
}

.card-img-top--icon {
    padding: 50px 50px 0;
}

.card:hover {
    transform: translateY(-8px);
    transition: 100ms ease-in-out;
}

.stats__text {
    max-width: 500px;
}

.contact-message {
    border-radius: 30px !important;
}

.contact-wrapper {
    max-width: 600px;
}

.footer__form {
    padding: 40px 0;
}

.bg-dark {
    background-color: #2E2D2D;
}

.bg-secondary {
    background-color: rgba(165, 25, 36) !important;
}

.border--secondary {
    border-color : rgba(165, 25, 36) !important;
}

.comp-adv {
    border-radius: 8px;
    max-width: 200px;
    margin: 10px;
}

.comp-adv:hover {
    max-width: 200px;
    margin: 10px;
    transform: translateY(-8px);
    transition: 100ms ease-in-out;
}

.bg-tertiary {
    background-color: rgba(180, 181, 85)
}

/* Contact Item */
.contact {
    position: relative;
    width: 100%;
}

.bg-half {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
    background-color: #D1E2E6;
}

.bg-cyan {
    background-color: #D1E2E6
}

.bg-gray {
    background-color: #EEEFEE;
}

.bg-mobile {
    background-color: transparent;
}

.contact-image {
    min-height: 450px;
    min-width: 300px;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .landing__title {
        font-size: 2.5rem;
    }

    .landing {
        margin-top: 80px;
    }

    .section {
        padding-right: 20px;
        padding-left: 20px;
    }

    .contact {
        flex-wrap: wrap;
    }

    .bg-half {
        visibility: hidden;
    }

    .bg-mobile {
        background-color: initial;
    }
}

/* NEW CSS */

.landing-container {
    height: 500px !important;
    background-color: rgba(42, 160, 202, 0.39);
}

.landing-container--red {
    background-color: rgba(139, 0, 0, 0.47);
}

.landing-container__home {
    max-width: 400px;
    width: 100%;
    text-align: left;
}

.text-darkblue {
    color: #00305B;
}

.text-blue {
    color: #377DBD;
}

.text-red {
    color: #D71143;
}

.text-underline {
    border-bottom: 1px solid #377DBD;
}

.max-content {
    width: max-content;
}

.team-side {
    min-width: 250px;
}

.team-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-placeholder {
    border: 3px solid gray;
}

.list-item {
    min-width: 250px;
    width: 100%;
}

.list-item-l {
    min-width: 300px;
    width: 100%;
}

.list-item-image {
    width: 90px;
    height: 90px;
}

.list-item-image-l {
    width: 144px;
    height: 144px;
}

.bg-overlay {
    background-color: rgba(47, 71, 12, 0.7)
}

.full-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.bar {
    width: 36px;
    margin: auto;
    height: 4px;
    border-radius: 2px;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.carousel-control {
    font-size: 2em;
    font-weight: bold;
    color: #D71143;
}

.carousel-control:hover {
    color: #9c0b30 !important;
}

.carousel-indicator {
    background-color: gray !important;
}

.carousel-indicator.active {
    background-color: #D71143 !important;
}

.carousel-item {
    min-height: 640px;
}

.h-list {
    font-size: 1.1em;
}

.img-partner {
    min-width: 300px;
    min-height: 100px;
    width: 100%;
}

/* Override default CSS */
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 0.812em;
}

.page-header .content-center {
    max-width: 960px;
}

.dropdown-menu .dropdown-item, .bootstrap-select .dropdown-menu.inner li a {
    font-size: 1em;
}

@media screen and (max-width: 991px) {

    .logo-button.button-dropdown {
        display: block;
    }

    .sidebar-collapse .navbar .navbar-translate {
        width: auto;
        flex: 1
    }
}

